<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Login - twovago</title>
    <link rel="icon" href="/images/twovago-icon.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/login_styles.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/navigation_styles.css">
</head>

<body>
    <header th:replace="fragments/commons.html::nav"></header>
    <form th:action="@{/users/login}" th:object="${userLoginBindingModel}" th:method="post">
        <div class="container">

            <div class="col-sm-8 col-sm-offset-2 main">
                <div class="col-sm-6 left-side">
                    <h1>Hi<br>again!</h1>
                    <p>We hope you enjoy your stay.</p>
                    <br>
                    <p>Don't have an account?
                        <a style="color:skyblue" href="/users/register">Register</a>
                    </p>
                </div>
                <!--col-sm-6-->

                <div class="col-sm-6 right-side">
                    <h1>Login</h1>
                    <!--Form with header-->
                    <div class="form">
                        <div class="form-group">
                            <label for="form2">Your username:</label>
                            <input th:field="*{username}" th:errorclass="is-invalid" class="form-control" type="text"
                                placeholder="Username" name="username" aria-describedby="usernameHelpInline"
                                id="username" required>

                        </div>

                        <div class="form-group">
                            <label for="form4">Your password:</label>
                            <input th:field="*{password}" th:errorclass="is-invalid" class="form-control"
                                aria-describedby="passwordHelpInline" type="password" placeholder="Password" name="psw"
                                id="psw" required>

                        </div>

                        <button type="submit" class="loginbtn">Login</button>

                    </div>
                    <!--/Form with header-->

                </div>
                <!--col-sm-6-->

            </div>
            <!--col-sm-8-->

        </div>
    </form>
</body>

</html>