<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>twovago</title>
    <link rel="icon" href="/images/twovago-icon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/navigation_styles.css">
    <link rel="stylesheet" href="/css/profile_style.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<body>
    <header th:replace="fragments/commons.html::nav"></header>
    <div id="wrapper">
        <img src="https://picsum.photos/250" alt="Profile picture" id="profile">
        <h1 id="name">Lorem Ipsum</h1>
        <p id="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, animi temporibus commodi,
            consequuntur blanditiis error mollitia, omnis corporis at voluptates ad similique exercitationem harum
            necessitatibus voluptatem facilis iste quasi magnam consequatur laudantium dolorum modi? Cum, ratione harum
            tempora, eum eos dicta voluptatem quia dolorem provident expedita reiciendis. Consectetur, labore ipsam.</p>
    </div>

</body>

</html>