<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Update offer - twovago</title>
    <link rel="icon" href="/images/twovago-icon.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/register_styles.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/navigation_styles.css">
</head>

<body>
<header th:replace="fragments/commons.html::nav"></header>
<form th:action="@{/offers/{id}/edit(id=*{id})}" th:object="${offerModel}" th:method="patch">
    <div class="container">

        <div style="margin-left: 50% !important;" class="col-sm-8 col-sm-offset-2 main">

            <div class="col-sm-6 right-side">
                <h1>Update Offer</h1>
                <!--Form with header-->
                <div class="form">
                    <div class="form-group">
                        <label for="form2">Offer Name:</label>
                        <input minlength="4" th:field="*{offerName}" th:errorclass="is-invalid" class="form-control"
                               type="text" placeholder="Offer Name" name="offerName"
                               aria-describedby="offerNameHelpInline" id="offerName" required>

                    </div>
                    <div class="form-group">
                        <label for="form2">Offer price:</label>
                        <input th:field="*{price}" th:errorclass="is-invalid" class="form-control" type="text"
                               placeholder="Price" name="price" aria-describedby="priceHelpInline"
                               id="price" required>

                    </div>
                    <div class="form-group">
                        <label for="form2">Picture:</label>
                        <input th:field="*{picture}" th:errorclass="is-invalid" class="form-control" type="url"
                               placeholder="Picture" name="picture" aria-describedby="descriptionHelpInline"
                               id="picture" required>

                    </div>
                    <div class="form-group">
                        <label for="form2">Description:</label>
                        <textarea style="resize: none" cols="40" rows="5" th:field="*{description}"
                                  th:errorclass="is-invalid" class="form-control" type="text"
                                  placeholder="Description" name="description" aria-describedby="descriptionHelpInline"
                                  id="description" required></textarea>

                    </div>
                    <div class="form-group">
                        <label for="form2">Category:</label>
                        <select th:field="*{category}" th:errorclass="is-invalid" id="category" name="category"
                                class="form-control"
                                aria-describedby="categoryHelpInline">
                            <option value="" selected>Category</option>
                            <option th:each="c : ${T(personal.project.two_vago.models.entities.enums.CategoryNameEnum).values()}"
                                    th:value="${c}" th:text="${c}" value="">Hotel
                            </option>

                        </select>
                    </div>
                    <div class="form-group">
                        <label for="form2">City:</label>
                        <select th:field="*{city}" th:errorclass="is-invalid" id="city" name="city" class="form-control"
                                aria-describedby="cityHelpInline">
                            <option value="" selected>City</option>
                            <option th:each="c : ${T(personal.project.two_vago.models.entities.enums.CityNameEnum).values()}"
                                    th:value="${c}" th:text="${c}" value="">Sofia
                            </option>

                        </select>

                    </div>

                    <button type="submit" class="loginbtn">Update Offer</button>

                </div>
                <!--/Form with header-->

            </div>
            <!--col-sm-6-->

        </div>
        <!--col-sm-8-->

    </div>
</form>
</body>

</html>